@font-face {
    font-family: 'PT Sans Caption';
    src: url('fonts/PTSans-Caption.woff2') format('woff2'),
         url('fonts/PTSans-Caption.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Caption';
    src: url('fonts/PTSans-Captionbold.woff2') format('woff2'),
         url('fonts/PTSans-Captionbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url('fonts/museosanscyrl500.woff2') format('woff2'),
         url('fonts/museosanscyrl500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}